<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <title>PolicyCancellationForm</title>
    <meta name="description"
          content="Signature Pad - HTML5 canvas based smooth signature drawing using variable width spline interpolation.">

    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- jQuery library -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!--Form validator-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>


    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.css"
          rel="stylesheet">

    <script src="js/jq-signature.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.js-signature').jqSignature();
            $('.js-signature').on('jq.signature.changed', function () {
                var sigData = $('.js-signature').jqSignature('getDataURL');
                $('#imageData').val(sigData);
            });
            $('#signatureClear').on('click', function () {
                console.log("test")
                $('.js-signature').jqSignature('clearCanvas');
            });
        });
    </script>
    <style>
        p {
            background-color: #d9edf7;
        }

        #footer-bottom {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="/">New Client</a></li>
            <li><a href="/register">Registered Client</a></li>
            <li class="active"><a href="/cancel">Policy cancel</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row" id="header">
        <div class="col-sm-12" style="height: 100px;"><img src="img/logo1.jpg" height="52" width="182"></div>
    </div>
    <div class='row'>
        <div class="col-sm-12 text-center"><h1>WAXING CONSENT & INTAKE FORM</h1></div>
    </div>
    <div class='row'>
        <div class="col-sm-12 text-center"><h3>CANCELLATION POLICY</h3></div>
    </div>
    <form id="waxingForm" action="/cancel" method="post">
    	<div class="row">
            <div class="form-group col-sm-6">
                <label for="name">First Name:</label>
                <input type="text" class="form-control" id="firstName" name="firstName" required>
            </div>
            <div class="form-group col-sm-6">
                <label for="name">Last Name:</label>
                <input type="text" class="form-control" id="lastName" name="lastName" required>
            </div>
        </div>	
        <div class="row">
            <div class="alert alert-info">
                <h3 style="color: #ee7421">Cancellation Policy</h3>
                We kindly ask that any cancellations or changes are made 24 hours prior to your appointment. A
                notice of less than 24 hours impacts our opportunity to serve other clients. Simply give the studio a
                call
                at 617-221-8999 when you need to modify, change, or cancel an appointment. Our studio coordinators
                are scheduling gurus!
                We understand “life happens” and you may miss an appointment without notice. However, if you miss
                more than one appointment , we reserve the right to charge a fee of up to 50% of the cost of the
                scheduled services for a late cancellation and 100% for a “No Show”.
                We require a Credit Card onfile for all appointments.
                <br/>
                <br/>
                <b>I understand and agree to this policy</b>
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label>Signature:</label>
                <div class='js-signature' data-line-color="#000000"
                     data-line-width="3" data-width="600" data-height="200"
                     data-background="#FFFFFF"
                     data-auto-fit="true"></div>
                <br/>
                <div style="display: none">
                    <input type="text" id="imageData" name="imageData">
                </div>
                <input id="signatureClear" type="button" class="btn btn-warning btn-sm" value="Clear"/>
                <div class="text-center">
                    <input type="submit" value="submit" class=" btn btn-info btn-lg"/>
                </div>
                <br/>
                <br/>
            </div>
        </div>
    </form>
    <footer id="main-footer">
        <div id="footer-bottom">
            <div class=" container maincolor dark col-sm-12 text-center">
                <p id="footer-info">Designed & Powered by <span style="color: #ee7421">Clark Empire</span></p>
            </div>
        </div>
    </footer>

</div>
</body>
</html>