<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <title>WaxingTheCityForm</title>
    <meta name="description"
          content="Signature Pad - HTML5 canvas based smooth signature drawing using variable width spline interpolation.">

    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- jQuery library -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!--Form validator-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>


    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.css"
          rel="stylesheet">

    <script src="js/jq-signature.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.js-signature').jqSignature();
            $('.js-signature').on('jq.signature.changed', function () {
                var sigData = $('.js-signature').jqSignature('getDataURL');
                $('#imageData').val(sigData);
            });
            $('#clear').on('click', function () {
                $('#waxingForm')[0].reset();
            })
            $('#signatureClear').on('click', function () {
                console.log("test")
                $('.js-signature').jqSignature('clearCanvas');
            })
            $('input[type=radio]').on('change', function () {
                console.log("this name " + this.name);
                if (this.name == 'acne') {
                    if (this.value == 'true') {
                        $('#list1,#time1').prop('disabled', false)
                    }
                    else {
                        $('#list1,#time1').prop('disabled', true)
                    }
                }

                if (this.name == 'bleaching') {
                    if (this.value == 'true') {
                        $('#list2,#time2').prop('disabled', false)
                    }
                    else {
                        $('#list2,#time2').prop('disabled', true)
                    }
                }

                if (this.name == 'illRadio') {
                    if (this.value == 'true') {
                        $('#ill').prop('disabled', false)
                    }
                    else {
                        $('#ill').prop('disabled', true)
                    }
                }

                if (this.name == 'allergy') {
                    if (this.value == 'true') {
                        $('#specificAllergy').prop('disabled', false)
                    }
                    else {
                        $('#specificAllergy').prop('disabled', true)
                    }
                }

                if (this.name == 'aspirin') {
                    if (this.value === "Yes") {
                        $('#otherAllergy').prop('disabled', false)
                    }
                    else {
                        $('#otherAllergy').prop('disabled', true)
                    }
                }


            });
            $('#serviceProvider').on('change', function () {
                if (this.value === "Other") {
                    console.log(this.value);
                    $(this).attr('name', 'chsngr');
                    console.log("drop down name "+this.name);
                    $('#form-service').show();
                    $('#serviceField').attr('name','serviceProvider');
                }
                if (this.value !== "Other") {
                    console.log(this.value);
                    $(this).attr('name', 'serviceProvider');
                    console.log(this.name);
                    $('#form-service').hide();
                    $('#serviceField').attr('name','chang');
                }

            });
        });
    </script>
    <style>
        p {
            background-color: #d9edf7;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">New Client</a></li>
            <li><a href="/register">Existing Client</a></li>
            <li><a href="/cancel">Cancelation policy</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row" id="header">
        <div class="col-sm-12" style="height: 100px;"><img src="img/logo1.jpg" height="52" width="182"></div>
    </div>
    <div class='row'>
        <div class="col-sm-12 text-center"><h1>WAXING CONSENT & INTAKE FORM</h1></div>
    </div>
    <div class='row'>
        <div class="col-sm-12 text-center"><h3>NEW CLIENT</h3></div><br/><br/>
    </div>
    <form id="waxingForm" action="/save" method="post">
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="name">First Name:</label>
                <input type="text" class="form-control" id="firstName" name="firstName" required>
            </div>
            <div class="form-group col-sm-6">
                <label for="name">Last Name:</label>
                <input type="text" class="form-control" id="lastName" name="lastName" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="name">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group col-sm-6">
                <label for="name">Mobile Phone:</label>
                <input type="number" class="form-control" id="phoneNo" name="phoneNo" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="name">Preferred Contact (email, phone, SMS):</label>
                <select class="form-control" id="preferredContact" name="preferredContact" required="required">
                    <option data-toggle="tooltip" value="" title="Hooray!" selected="selected" disabled="disabled">
                        Select
                    </option>
                    <option data-toggle="tooltip" value="Email" title="Hooray!">Email</option>
                    <option data-toggle="tooltip" value="Phone" title="Hooray!">Phone</option>
                    <option data-toggle="tooltip" value="SMS" title="Hooray!">SMS</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="name">Mobile Phone Service Provider:</label>
                <select class="form-control" id="serviceProvider" name="serviceProvider" required="required">
                    <option data-toggle="tooltip" value="" title="Hooray!" selected="selected" disabled="disabled">
                        Select
                    </option>
                    <option data-toggle="tooltip" value="AT&T" title="Hooray!">AT&T</option>
                    <option data-toggle="tooltip" value="Boost" title="Hooray!">Boost</option>
                    <option data-toggle="tooltip" value="Sprint" title="Hooray!">Sprint</option>
                    <option data-toggle="tooltip" value="Verizon" title="Hooray!">Verizon</option>
                    <option data-toggle="tooltip" value="Other" title="Hooray!">Other</option>
                </select>
            </div>
        </div>
        <div class="form-group col-sm-offset-6" id="form-service" style="display: none">
            <label>Service Provider : </label>
            <input type="text" class="form-control" id="serviceField" name="A">
        </div>

        <div class="row">
            <div class="form-group col-sm-4">
                <label>OK to receive emails?</label>
            </div>
            <div class="form-group col-sm-1">
                <label class="radio-inline">
                    <input type="radio" value="true" name="activateEmail" required/>
                    <span>Yes</span>
                </label>
            </div>
            <div class="form-group col-sm-1">
                <label class="radio-inline">
                    <input type="radio" value="false" name="activateEmail"/>
                    <span>No</span>
                </label>
            </div>
            <div class="form-group col-sm-4">
                <label>OK to receive SMS?</label>
            </div>
            <div class="form-group col-sm-1">
                <label class="radio-inline">
                    <input type="radio" value="true" name="activateSMS" required/>
                    <span>Yes</span>
                </label>
            </div>
            <div class="form-group col-sm-1">
                <label class="radio-inline">
                    <input type="radio" value="false" name="activateSMS"/>
                    <span>No</span>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-4">
                <label>Gender:</label>
            </div>
            <div class="form-group col-sm-1">
                <label class="radio-inline">
                    <input type="radio" value="true" name="gender" required/>
                    <span>Male</span>
                </label>
            </div>
            <div class="form-group col-sm-1">
                <label class="radio-inline">
                    <input type="radio" value="false" name="gender"/>
                    <span>Female</span>
                </label>
            </div>
            <div class="form-group col-sm-2">
                <label>Date of birth:</label>
            </div>
            <div class="form-group col-sm-4">
                <input type="date" class="form-control" id="dob" name="dob" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="name">Address:</label>
                <input type="text" class="form-control" id="address" name="address" required>
            </div>
            <div class="form-group col-sm-6">
                <label for="name">City:</label>
                <input type="text" class="form-control" id="city" name="city" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="name">State:</label>
                <input type="text" class="form-control" id="state" name="state" required>
            </div>
            <div class="form-group col-sm-6">
                <label for="name">Zip:</label>
                <input type="text" class="form-control" id="zip" name="zip" required>
            </div>
        </div>

        <h3>HOW DID YOU HEAR ABOUT US?</h3>
        <div class="row col-sm-12">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6"><label class="checkbox-inline">
                        <input type="checkbox" name="walkIn" value="true">Walk-in/Drive-by
                    </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="internet" value="true">Internet/Website
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><label class="checkbox-inline">
                        <input type="checkbox" name="radio" value="true">Radio
                    </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="directMail" value="true">Direct Mail
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><label class="checkbox-inline">
                        <input type="checkbox" name="coupon" value="true">Coupon
                    </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="flyer" value="true">Flyer
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><label class="checkbox-inline">
                        <input type="checkbox" name="returnCustomer" value="true">Return Customer
                    </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="printAd" value="true">Print Ad
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><label class="checkbox-inline">
                        <input type="checkbox" name="referral" value="true">Referral/Word of Mouth
                    </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="other" value="true">Other
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="name">Which Magazine/paper?</label>
                        <input type="text" class="form-control" id="magazine" name="magazine">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="name">Who can we thank?</label>
                        <input type="text" class="form-control" id="thanfulPerson" name="thanfulPerson">
                    </div>
                </div>
            </div>
        </div>
        <h3>Do you have, or are you prone to:</h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <label>Ingrown Hairs</label>
                    </div>
                    <div class="col-sm-2">
                        <label class="radio-inline">
                            <input type="radio" value="true" name="ingrownHairs" required/>
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label class="radio-inline">
                            <input type="radio" value="false" name="ingrownHairs"/>
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label>Scarring
                        </label>
                    </div>
                    <div class="form-group col-sm-2">

                        <label class="radio-inline">
                            <input type="radio" value="true" name="scarring" required/>
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="form-group col-sm-2">
                        <label class="radio-inline">
                            <input type="radio" value="false" name="scarring"/>
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label>Bumps
                        </label>
                    </div>
                    <div class="form-group col-sm-2">

                        <label class="radio-inline">
                            <input type="radio" value="true" name="bumps" required/>
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="form-group col-sm-2">
                        <label class="radio-inline">
                            <input type="radio" value="false" name="bumps"/>
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label>Hyperpigmentation
                        </label>
                    </div>
                    <div class="form-group col-sm-2">

                        <label class="radio-inline">
                            <input type="radio" value="true" name="hyperpigmentation" required/>
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="form-group col-sm-2">
                        <label class="radio-inline">
                            <input type="radio" value="false" name="hyperpigmentation"/>
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label>Bruising
                        </label>
                    </div>
                    <div class="form-group col-sm-2">

                        <label class="radio-inline">
                            <input type="radio" value="true" name="bruising" required/>
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="form-group col-sm-2">
                        <label class="radio-inline">
                            <input type="radio" value="false" name="bruising"/>
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label>Are you diabetic?
                        </label>
                    </div>
                    <div class="form-group col-sm-2">
                        <label class="radio-inline">
                            <input type="radio" value="true" name="diabetic" required/>
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="form-group col-sm-2">
                        <label class="radio-inline">
                            <input type="radio" value="false" name="diabetic"/>
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="form-group col-sm-8">
                        <label>Are you / Could you be pregnant?
                        </label>
                    </div>
                    <div class="form-group col-sm-2">

                        <label class="radio-inline">
                            <input type="radio" value="true" name="pregnant" required/>
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="form-group col-sm-2">
                        <label class="radio-inline">
                            <input type="radio" value="false" name="pregnant"/>
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="form-group col-sm-8">
                        <label>Allergies
                        </label>
                    </div>
                    <div class="form-group col-sm-2">

                        <label class="radio-inline">
                            <input type="radio" value="true" name="allergy" required/>
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="form-group col-sm-2">
                        <label class="radio-inline">
                            <input type="radio" value="false" name="allergy"/>
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-2">
                        <label for="ill">If any</label>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" disabled class="form-control" id="specificAllergy" name="specificAllergy">
                    </div>
                </div>
            </div>
        </div>
        <h3>Use of Medicines or Agents That Impact the Skin:</h3>
        <div class="row">
            <div class="form-group col-sm-10">
                <label for="acne">Are you currently taking Retin A, Renova, Differin or other types of skin thinning
                    ACNE
                    MEDICATIONS, orally or topically?
                </label>
            </div>
            <div class="form-group col-sm-1">
                <label class="radio-inline">
                    <input type="radio" value="true" name="acne"/>
                    <span>Yes</span>
                </label>
            </div>
            <div class="form-group col-sm-1">
                <label class="radio-inline">
                    <input type="radio" checked value="false" name="acne"/>
                    <span>No</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="list1">Please List:</label>
                <input type="text" class="form-control" disabled id="list1" name="acneMedicines">
            </div>
            <div class="form-group col-sm-6">
                <label for="time1">How long / How often?</label>
                <input type="text" disabled class="form-control" id="time1" name="acnePeriod">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-10">
                <label>Are you currently using any BLEACHING AGENTS for your facial or body hair or
                    bleaching agents for pigmentation (Hydroquinone,Trilumena),Alpha Hydroxy Acids
                    (Glycolic,Lactic),Salicylic Acids or other exfoliants?
                </label>
            </div>
            <div class="form-group col-sm-1">
                <label class="radio-inline">
                    <input type="radio" value="true" name="bleaching"/>
                    <span>Yes</span>
                </label>
            </div>
            <div class="form-group col-sm-1">
                <label class="radio-inline">
                    <input type="radio" checked value="false" name="bleaching"/>
                    <span>No</span>
                </label>
            </div>
            </label>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="list2">Please list:</label>
                <input type="text" disabled class="form-control" id="list2" name="bleachingAgent">
            </div>
            <div class="form-group col-sm-6">
                <label for="time2">How long / How often?</label>
                <input type="text" disabled class="form-control" id="time2" name="bleachingAgentPeriod">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label>Any other illness/condition a medical professional is treating you for?
                </label>
            </div>
            <div class="form-group col-sm-1">
                <label class="radio-inline">
                    <input type="radio" value="true" name="illRadio"/>
                    <span>Yes</span>
                </label>
            </div>
            <div class="form-group col-sm-1">
                <label class="radio-inline">
                    <input type="radio" checked value="false" name="illRadio"/>
                    <span>No</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="ill">If any</label>
                <input type="text" disabled class="form-control" id="ill" name="illness">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-7">
                <label>Do you have any allergic reactions or allergies to flower/fruit extracts, talcum
                    powder or aspirin?
                </label>
            </div>
            <div class="form-group col-sm-1">
                <label class="radio-inline">
                    <input type="radio" value="Yes" name="aspirin" required/>
                    <span>Yes</span>
                </label>
            </div>
            <div class="form-group col-sm-1">
                <label class="radio-inline">
                    <input type="radio" value="No" checked name="aspirin"/>
                    <span>No</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="ill">Other allergies, please list : </label>
                <input type="text" disabled class="form-control" id="otherAllergy" name="otherAllergy">
            </div>
        </div>
        <div>
            <h3>PRECAUTIONS AND CONSIDERATION: READ AND CHECK OFF</h3>
        </div>
        <div>
            <label class="checkbox-inline">
                <input type="checkbox" name="sunburned" value="true" required>Sunburned, irritated or areas with open skin cannot
                be waxed
            </label>
        </div>
        <div>
            <label class="checkbox-inline">
                <input type="checkbox" name="tanningBooth" value="true" required>Waxing cannot be performed if you have been in a
                tanning booth the same day
            </label>
        </div>
        <div>
            <label class="checkbox-inline">
                <input type="checkbox" name="herpesSimplex" value="true" required>If you have a history of Herpes Simplex, waxing
                can cause an outbreak
            </label>
        </div>
        <div>
            <label class="checkbox-inline">
                <input type="checkbox" name="laserSkin" value="true" required>Waxing cannot be performed if you have had laser
                skin resurfacing within the past year
            </label>
        </div>
        <div>
            <label class="checkbox-inline">
                <input type="checkbox" name="physicianAdministeredPeel" value="true" required>Waxing cannot be administered if
                you had a physician administered peel within the past two years
            </label>
        </div>
        <div>
            <label class="checkbox-inline">
                <input type="checkbox" name="extraPrecaution" value="true" required>No sun/tanning booths for 2 days following a
                waxing treatment. Extra precaution should be taken if using
                tanning accelerators
            </label>
        </div>
        <div>
            <label class="checkbox-inline">
                <input type="checkbox" name="waitingTime" value="true" required>Wait 2-3 days to wax before/after tanning with
                accelerators
            </label>
        </div>
        <div>
            <label class="checkbox-inline">
                <input type="checkbox" name="noHotTubs" value="true" required>No hot tubs or baths for 24 hours following a body
                waxing treatment
            </label>
        </div>
        <div>
            <label class="checkbox-inline">
                <input type="checkbox" name="noAbrasives" value="true" required>No abrasives for 24 hours following a waxing
                treatment
            </label>
        </div>
        <div>
            <label class="checkbox-inline">
                <input type="checkbox" name="noDeodorants" value="true" required>No deodorants for 24 hours following an underarm
                waxing treatment
            </label>
        </div>
        <div>
            <label class="checkbox-inline">
                <input type="checkbox" name="extraSensitivity" value="true" required>Women may experience extra sensitivity to
                waxing up to a week prior to their menstrual cycle
            </label>
        </div>
        <br/>
        <div class="alert alert-info">
            <h3>CONSENT</h3>
            I hereby request and grant permission to Waxing the City to administer waxing services and I voluntarily
            agree
            to be treated by a licensed esthetician.I confirm to the best of my knowledge that the information I
            have
            provided
            is accurate and complete, and I have received general information about the service I am seeking.I have
            not
            withheld
            information that may be relevant to the services or the results thereof. I am aware that there are often
            inherent
            risks associated with waxing and tinting procedures, and the services I am about to receive could have
            unfavorable
            and uncomfortable results,including but not limited to:allergic reaction, irritation, burning,
            redness,scarring,soreness, etc.
            By signing below, I freely assume these risks and I agree that I will not hold the Waxing the City salon
            or
            its owners or
            any of its employees responsible should there be any unfavorable outcome or result.I will inform Waxing
            the
            City of any complications
            or concerns I may have as soon as they occur, and any changes to the information in this form. I
            understand
            I should
            refrain from tanning and/or direct sun exposure within 24-48 hours of waxing. I also understand that I
            should not have Micro-dermabrasion
            or "peels" 3 days pre- or post-waxing.I have read,understand, and agree to the above provsions.
            <br/>
        </div>
        <div class="alert alert-info">
            <h3>Parent or Guardian Consent (Must be completed for clients Under the Age of 18):</h3>
            <div class="form-group">
                <label for="name">Parent / Guardian Name : </label>
                <input type="text" class="form-control" id="minor" name="minor"></div>
            I authorize Waxing the City estheticians to perform waxing treatments and other services on("Minor").
            This
            authorization is ongoing until written notification from me that
            the authorization is revoked or modified.This authorization includes all services offered by
            Waxing the City,except as follows:
            <br/>
            <div class="form-group">
                <input type="text" class="form-control" id="limitations" name="limitation">
                [note any limitations on consent].
            </div>
            <br/>
            <b>I confirm to the best of my knowledge that the information provided in this form by Minor is accuarte
                and
                complete.</b>
        </div>
        <label>Signature:</label>
        <div class='js-signature' data-line-color="#000000"
             data-line-width="3" data-width="600" data-height="200"
             data-background="#FFFFFF"
             data-auto-fit="true"></div>
        <br/>
        <div style="display: none">
            <input type="textarea" id="imageData" name="imageData">
        </div>
        <input id="signatureClear" type="button" class="btn btn-warning btn-sm" value="Clear"/>
        <br/>
        <br/>
        <h3><strong>CHECK OFF THE SERVICES YOU ARE HAVING TODAY</strong></h3><br/>
        <div class="row">
            <div class="col-sm-3 text-center">
                <b>FACIAL WAXING/TINTS</b>
            </div>
            <div class="col-sm-6 text-center">
                <b>BODY WAXING</b>
            </div>
            <div class="col-sm-3 text-center">
                <b>COMBINATIONS</b>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-6"><label class="checkbox-inline">
                        <input type="checkbox" name="browShaping" value="true">Brow Shaping
                    </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="nose" value="true">Nose
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="lip" value="true">Lip
                        </label>

                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="ears" value="true">Ears
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="chin" value="true">Chin
                        </label>

                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="lashTint" value="true">Lash Tint
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="sideburns" value="true">Sideburns
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="browTint" value="true">Brow Tint
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="fullLeg" value="true">Full Leg
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="bikini" value="true">Bikini
                        </label>
                    </div>
                    <div class="col-sm-3"><label class="checkbox-inline">
                        <input type="checkbox" name="fullBack" value="true">Full Back
                    </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="basicBrazilianMen" value="true">Basic Brazilian (men)
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="halfLeg" value="true">Half Leg
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="modifiedBikini" value="true">Modified Bikini
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="halfBack" value="true">Half Back
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="modifiedBrazilianMen" value="true">Modified Brazilian (men)
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="fullArm" value="true">Full Arm
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="brazilianBikini" value="true">Brazilian Bikini
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="chest" value="true">Chest
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="fullBrazilianMen" value="true">Full Brazilian (men)
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="halfArm" value="true">Half Arm
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="buttocks" value="true">Buttocks
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="abdomen" value="true">Abdomen
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="underArm" value="true">Under Arm
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="innerBackSide" value="true">Inner Backside
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="neck" value="true">Neck
                        </label>
                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="browShapingLip" value="true">Brow Shaping & Lip
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="MenMasculineTailoring" value="true">Men's Masculine
                            Tailoring
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="fullLegBikini" value="true">Full Leg & Bikini
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="menMaintenanceBrow" value="true">Men's Maintenance Brow
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="lashBrowTint" value="true">Lash Brow & Tint
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="MenFacialGroomingCombo" value="true">Men's Facial Grooming
                            Combo
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="fullFace" value="true">Full Face (no brows)
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="tweenBrowShaping" value="true">Tween Brow Shaping
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <input type="submit" value="submit" class=" btn btn-info btn-lg"/>
        </div>
    </form>
    <br/><br/>
    <footer id="main-footer">
        <div id="footer-bottom">
            <div class=" container maincolor dark col-sm-12 text-center">
                <p id="footer-info">Designed & Powered by <span style="color: #ee7421">Rebutton</span></p>
            </div>
        </div>
    </footer>
</div>
</body>
</html>