<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <title>WaxingTheCityForm</title>

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
<body>
<div class="container">
    <div class='row'><div class="col-sm-12 text-center"><h1>WAXING CONSENT & INTAKE FORM</h1></div></div>
    <div class="row" id="header">
        <div class="col-sm-12" style="height: 100px;"><img src="logo.jpg" height="52" width="182"></div>
    </div>
    <form action="/generate" method="post">
        <div class="form-group">
            <label for="name">Client Name:</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="acne">Are you currently taking Retin A, Renova, Differin or other types of skin thinning ACNE MEDICATIONS, orally or topically?
                Please list:</label>
            <input type="text" class="form-control" id="acne" name="acneMedicines">
        </div>
        <div class="form-group">
            <label for="time">How long / How often?</label>
            <input type="text" class="form-control" id="time" name="acnePeriod">
        </div>
        <div class="form-group">
            <label for="bleaching">Are you currently using any BLEACHING AGENTS for your facial or body hair or bleaching agents for pigmentation (Hydroquinone,Trilumena),Alpha Hydroxy Acids (Glycolic,Lactic),Salicylic Acids or other exfoliants?
                Please list:</label>
            <input type="text" class="form-control" id="bleaching" name="bleachingAgent">
        </div>
        <div class="form-group">
            <label for="bleachingTime">How long / How often?</label>
            <input type="text" class="form-control" id="bleachingTime" name="bleachingAgentPeriod">
        </div>
        <div class="form-group">
            <label for="illness">Any other illness/condition a medical professional is treating you for?</label>
            <input type="text" class="form-control" id="illness" name="alergy">
        </div>
        <div class="form-group">
            <label for="diabatic">Are you diabetic?</label>
            <select class="form-control" id="diabatic" name='diabatic' >
            <option data-toggle="tooltip" value="true" title="Hooray!">YES</option>
            <option data-toggle="tooltip" value="false" title="Hooray!">NO</option>
        </select>
        </div>
        <div class="form-group">
            <label for="pregnant">Are you / Could you be pregnant?</label>
            <select class="form-control" id="pregnant" name='pregnant'>
            <option data-toggle="tooltip" value="true" title="Hooray!">YES</option>
            <option data-toggle="tooltip" value="false" title="Hooray!">NO</option>
        </select>
        </div>

        <input type="submit" value="submit" class="btn btn-default"/>
    </form>
</div>
</body>
</html>