<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <title>WaxingTheCityForm</title>
    <meta name="description"
          content="Signature Pad - HTML5 canvas based smooth signature drawing using variable width spline interpolation.">

    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- jQuery library -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.css"
          rel="stylesheet">

    <script src="js/jq-signature.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.js-signature').jqSignature();
            $('.js-signature').on('jq.signature.changed', function () {
                var sigData = $('.js-signature').jqSignature('getDataURL');
                $('#imageData').val(sigData);
            });
            $('#clear').click(function () {
                $('.js-signature').jqSignature('clearCanvas');
            })

           // $('.radio-inline').on('change', function () {
            function findSelected() {
                if (this.id == 'acne') {
                    if (this.value == 'true') {
                        $('#list1,#time1').prop('disabled', false)
                    }
                    else {
                        $('#list1,#time1').prop('disabled', true)
                    }
                }

                if (this.id == 'bleaching') {
                    if (this.value == 'true') {
                        $('#list2,#time2').prop('disabled', false)
                    }
                    else {
                        $('#list2,#time2').prop('disabled', true)
                    }
                }

                if (this.id == 'illness') {
                    if (this.value == 'true') {
                        $('#ill').prop('disabled', false)
                    }
                    else {
                        $('#ill').prop('disabled', true)
                    }
                }
            }
        })
    </script>
</head>
<body>
<div class="container">
    <div class='row'>
        <div class="col-sm-12 text-center"><h1>WAXING CONSENT & INTAKE FORM</h1></div>
    </div>
    <div class="row" id="header">
        <div class="col-sm-12" style="height: 100px;"><img src="img/logo1.jpg" height="52" width="182"></div>
    </div>
    <form action="/generate" method="post">
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="name">Client Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group col-sm-12">
                <label>Are you currently taking Retin A, Renova, Differin or other types of skin thinning
                    ACNE
                    MEDICATIONS, orally or topically?
                    <label class="radio-inline">
                        <input type="radio" value="true" name="acne" onchange="findSelected()"/>
                        <span>Yes</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="false" name="acne" onchange="findSelected()"/>
                        <span>No</span>
                    </label>



                </label>
                <!--<select class="form-control" id="acne">
                    <option data-toggle="tooltip" value="true" title="Hooray!">YES</option>
                    <option selected data-toggle="tooltip" value="false" title="Hooray!">NO</option>
                </select>-->
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="list1">Please List:</label>
                <input type="text" class="form-control" disabled id="list1" name="acneMedicines">
            </div>
            <div class="form-group col-sm-6">
                <label for="time1">How long / How often?</label>
                <input type="text" disabled class="form-control" id="time1" name="acnePeriod">
            </div>
        </div>
        <div class="form-group">
            <label>Are you currently using any BLEACHING AGENTS for your facial or body hair or
                bleaching agents for pigmentation (Hydroquinone,Trilumena),Alpha Hydroxy Acids
                (Glycolic,Lactic),Salicylic Acids or other exfoliants?
                <label class="radio-inline">
                    <input type="radio" value="true" name="bleaching" onchange="findSelected()"/>
                    <span>Yes</span>
                </label>
                <label class="radio-inline">
                    <input type="radio" value="false" name="bleaching" onchange="findSelected()"/>
                    <span>No</span>
                </label>
            </label>
            <!--<select class="form-control" id="bleaching">
                <option data-toggle="tooltip" value="true" title="Hooray!">YES</option>
                <option selected data-toggle="tooltip" value="false" title="Hooray!">NO</option>
            </select>-->
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="list2">Please list:</label>
                <input type="text" disabled class="form-control" id="list2" name="bleachingAgent">
            </div>
            <div class="form-group col-sm-6">
                <label for="time2">How long / How often?</label>
                <input type="text" disabled class="form-control" id="time2" name="bleachingAgentPeriod">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="illness">Any other illness/condition a medical professional is treating you for?
                    <label class="radio-inline">
                        <input type="radio" value="true" name="bleaching" onchange="findSelected()"/>
                        <span>Yes</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="false" name="bleaching" onchange="findSelected()"/>
                        <span>No</span>
                    </label>
                </label>
                <!--<select class="form-control" id="illness">
                    <option data-toggle="tooltip" value="true" title="Hooray!">YES</option>
                    <option selected data-toggle="tooltip" value="false" title="Hooray!">NO</option>
                </select>-->

            </div>
            <div class="form-group col-sm-6">
                <label for="ill">If any</label>
                <input type="text" disabled class="form-control" id="ill" name="illness">
            </div>
        </div>
        <div class="form-group">
            <label for="alergy">Do you have any allergic reactions or allergies to flower/fruit extracts, talcum
                powder or aspirin?
                <label class="radio-inline">
                    <input type="radio" value="true" name="bleaching" onchange="findSelected()"/>
                    <span>Yes</span>
                </label>
                <label class="radio-inline">
                    <input type="radio" value="false" name="bleaching" onchange="findSelected()"/>
                    <span>No</span>
                </label>
            </label>
            <!--<select class="form-control" id="alergy" name="alergy">
                <option data-toggle="tooltip" value="Yes" title="Hooray!">YES</option>
                <option data-toggle="tooltip" value="No" title="Hooray!">NO</option>
            </select>-->
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="diabetic">Are you diabetic?
                    <label class="radio-inline">
                        <input type="radio" value="true" name="bleaching" onchange="findSelected()"/>
                        <span>Yes</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="false" name="bleaching" onchange="findSelected()"/>
                        <span>No</span>
                    </label>
                </label>
                <!--<select class="form-control" id="diabetic" name='diabetic'>
                    <option data-toggle="tooltip" value="true" title="Hooray!">YES</option>
                    <option data-toggle="tooltip" value="false" title="Hooray!">NO</option>
                </select>-->
            </div>
            <div class="form-group col-sm-6">
                <label for="pregnant">Are you / Could you be pregnant?
                    <label class="radio-inline">
                        <input type="radio" value="true" name="bleaching" onchange="findSelected()"/>
                        <span>Yes</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="false" name="bleaching" onchange="findSelected()"/>
                        <span>No</span>
                    </label>
                </label>
                <!--<select class="form-control" id="pregnant" name='pregnant'>
                    <option data-toggle="tooltip" value="true" title="Hooray!">YES</option>
                    <option data-toggle="tooltip" value="false" title="Hooray!">NO</option>
                </select>-->
            </div>
        </div>

        <div class="alert alert-info">
            <h3>CONSENT</h3>
            I hereby request and grant permission to Waxing the City to administer waxing services and I voluntarily
            agree
            to be treated by a licensed esthetician.I confirm to the best of my knowledge that the information I have
            provided
            is accurate and complete, and I have received general information about the service I am seeking.I have not
            withheld
            information that may be relevant to the services or the results thereof. I am aware that there are often
            inherent
            risks associated with waxing and tinting procedures, and the services I am about to receive could have
            unfavorable
            and uncomfortable results,including but not limited to:allergic reaction, irritation, burning,
            redness,scarring,soreness, etc.
            By signing below, I freely assume these risks and I agree that I will not hold the Waxing the City salon or
            its owners or
            any of its employees responsible should there be any unfavorable outcome or result.I will inform Waxing the
            City of any complications
            or concerns I may have as soon as they occur, and any changes to the information in this form. I understand
            I should
            refrain from tanning and/or direct sun exposure within 24-48 hours of waxing. I also understand that I
            should not have Micro-dermabrasion
            or "peels" 3 days pre- or post-waxing.I have read,understand, and agree to the above provsions.
            <br/>
        </div>
        <div class="alert alert-info">
            <h3>Parent or Guardian Consent (Must be completed for clients Under the Age of 18):</h3>
            I authorize Waxing the City estheticians to perform waxing treatments and other services on("Minor"). This
            authorization is ongoing until written notification from me that
            the authorization is revoked or modified.This authorization includes all services offered by
            Waxing the City,except as follows:
            <br/>
            <div class="form-group">
                <input type="text" class="form-control" id="limitations" name="limitation">
                [note any limitations on consent].
            </div>
            <br/>
            <b>I confirm to the best of my knowledge that the information provided in this form by Minor is accuarte and
                complete.</b>
        </div>
        <label>Signature:</label>
        <div class='js-signature' data-line-color="#000000"
             data-line-width="3" data-width="600" data-height="200"
             data-background="#FFFFFF"
             data-auto-fit="true"></div>


        <button class="btn btn-warning btn-sm" id="clear">Clear</button><br/>
        <div style="display: none">
            <input type="textarea" id="imageData" name="imageData">
        </div>
        <br/>
        <input type="submit" value="submit" class="btn btn-info btn-lg"/>
    </form>
</div>
</body>
</html>