<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <title>WaxingTheCityForm</title>
    <meta name="description"
          content="Signature Pad - HTML5 canvas based smooth signature drawing using variable width spline interpolation.">

    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- jQuery library -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!--Form validator-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>


    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.css"
          rel="stylesheet">

    <script src="js/jq-signature.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.js-signature').jqSignature();
            $('.js-signature').on('jq.signature.changed', function () {
                var sigData = $('.js-signature').jqSignature('getDataURL');
                $('#imageData').val(sigData);
            });
            $('#clear').on('click', function () {
                $('#waxingForm')[0].reset();
            })
            $('#signatureClear').on('click', function () {
                console.log("test")
                $('.js-signature').jqSignature('clearCanvas');
            })
            $('input[type=radio]').on('change', function () {
                console.log("this name " + this.name);
                if (this.name == 'acne') {
                    if (this.value == 'true') {
                        $('#list1,#time1').prop('disabled', false)
                    }
                    else {
                        $('#list1,#time1').prop('disabled', true)
                    }
                }

                if (this.name == 'bleaching') {
                    if (this.value == 'true') {
                        $('#list2,#time2').prop('disabled', false)
                    }
                    else {
                        $('#list2,#time2').prop('disabled', true)
                    }
                }

                if (this.name == 'illRadio') {
                    if (this.value == 'true') {
                        $('#ill').prop('disabled', false)
                    }
                    else {
                        $('#ill').prop('disabled', true)
                    }
                }
            });
        });
    </script>
    <style>
        p {
            background-color: #d9edf7;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">New Client</a></li>
            <li class="active"><a href="/register">Registered Client</a></li>
            <li><a href="/cancel">Policy cancel</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row" id="header">
        <div class="col-sm-12" style="height: 100px;"><img src="img/logo1.jpg" height="52" width="182"></div>
    </div>
    <div class='row'>
        <div class="col-sm-12 text-center"><h1>WAXING CONSENT & INTAKE FORM</h1></div>
    </div>
    <form id="waxingForm" action="/generate" method="post">
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="name">Client Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group col-sm-10">
                <label for="acne">Are you currently taking Retin A, Renova, Differin or other types of skin thinning
                    ACNE
                    MEDICATIONS, orally or topically?
                </label>
            </div>
            <div class="form-group col-sm-1">
                <label class="radio-inline">
                    <input type="radio" value="true" name="acne"/>
                    <span>Yes</span>
                </label>
            </div>
            <div class="form-group col-sm-1">
                <label class="radio-inline">
                    <input type="radio" checked value="false" name="acne"/>
                    <span>No</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="list1">Please List:</label>
                <input type="text" class="form-control" disabled id="list1" name="acneMedicines">
            </div>
            <div class="form-group col-sm-6">
                <label for="time1">How long / How often?</label>
                <input type="text" disabled class="form-control" id="time1" name="acnePeriod">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-10">
                <label>Are you currently using any BLEACHING AGENTS for your facial or body hair or
                    bleaching agents for pigmentation (Hydroquinone,Trilumena),Alpha Hydroxy Acids
                    (Glycolic,Lactic),Salicylic Acids or other exfoliants?
                </label>
            </div>
            <div class="form-group col-sm-1">
                <label class="radio-inline">
                    <input type="radio" value="true" name="bleaching"/>
                    <span>Yes</span>
                </label>
            </div>
            <div class="form-group col-sm-1">
                <label class="radio-inline">
                    <input type="radio" checked value="false" name="bleaching"/>
                    <span>No</span>
                </label>
            </div>
            </label>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="list2">Please list:</label>
                <input type="text" disabled class="form-control" id="list2" name="bleachingAgent">
            </div>
            <div class="form-group col-sm-6">
                <label for="time2">How long / How often?</label>
                <input type="text" disabled class="form-control" id="time2" name="bleachingAgentPeriod">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label>Any other illness/condition a medical professional is treating you for?
                </label>
            </div>
            <div class="form-group col-sm-1">
                <label class="radio-inline">
                    <input type="radio" value="Yes" name="illRadio"/>
                    <span>Yes</span>
                </label>
            </div>
            <div class="form-group col-sm-1">
                <label class="radio-inline">
                    <input type="radio" checked value="No" name="illRadio"/>
                    <span>No</span>
                </label>
                </label>
            </div>
        </div>
        <div class="row">

            <div class="form-group col-sm-12">
                <label for="ill">If any</label>
                <input type="text" disabled class="form-control" id="ill" name="illness">
            </div>
        </div>
        <div class="row">

            <div class="form-group col-sm-7">
                <label>Do you have any allergic reactions or allergies to flower/fruit extracts, talcum
                    powder or aspirin?
                </label>
            </div>
            <div class="form-group col-sm-1">

                <label class="radio-inline">
                    <input type="radio" value="Yes" name="alergy" required/>
                    <span>Yes</span>
                </label>
            </div>
            <div class="form-group col-sm-1">

                <label class="radio-inline">
                    <input type="radio" value="No" name="alergy"/>
                    <span>No</span>
                </label>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label>Are you diabetic?
                </label>
            </div>
            <div class="form-group col-sm-1">
                <label class="radio-inline">
                    <input type="radio" value="true" name="diabetic" required/>
                    <span>Yes</span>
                </label>
            </div>
            <div class="form-group col-sm-1">
                <label class="radio-inline">
                    <input type="radio" value="false" name="diabetic"/>
                    <span>No</span>
                </label>
                </label>
            </div>
        </div>
        <div class="row">

            <div class="form-group col-sm-4">
                <label>Are you / Could you be pregnant?
                </label>
            </div>
            <div class="form-group col-sm-1">

                <label class="radio-inline">
                    <input type="radio" value="true" name="pregnant" required/>
                    <span>Yes</span>
                </label>
            </div>
            <div class="form-group col-sm-1">

                <label class="radio-inline">
                    <input type="radio" value="false" name="pregnant"/>
                    <span>No</span>
                </label>
                </label>
            </div>
        </div>
        <div class="alert alert-info">
            <h3>CONSENT</h3>
            I hereby request and grant permission to Waxing the City to administer waxing services and I voluntarily
            agree
            to be treated by a licensed esthetician.I confirm to the best of my knowledge that the information I have
            provided
            is accurate and complete, and I have received general information about the service I am seeking.I have not
            withheld
            information that may be relevant to the services or the results thereof. I am aware that there are often
            inherent
            risks associated with waxing and tinting procedures, and the services I am about to receive could have
            unfavorable
            and uncomfortable results,including but not limited to:allergic reaction, irritation, burning,
            redness,scarring,soreness, etc.
            By signing below, I freely assume these risks and I agree that I will not hold the Waxing the City salon or
            its owners or
            any of its employees responsible should there be any unfavorable outcome or result.I will inform Waxing the
            City of any complications
            or concerns I may have as soon as they occur, and any changes to the information in this form. I understand
            I should
            refrain from tanning and/or direct sun exposure within 24-48 hours of waxing. I also understand that I
            should not have Micro-dermabrasion
            or "peels" 3 days pre- or post-waxing.I have read,understand, and agree to the above provsions.
            <br/>
        </div>
        <div class="alert alert-info">
            <h3>Parent or Guardian Consent (Must be completed for clients Under the Age of 18):</h3>
            I authorize Waxing the City estheticians to perform waxing treatments and other services on("Minor"). This
            authorization is ongoing until written notification from me that
            the authorization is revoked or modified.This authorization includes all services offered by
            Waxing the City,except as follows:
            <br/>
            <div class="form-group">
                <input type="text" class="form-control" id="limitations" name="limitation">
                [note any limitations on consent].
            </div>
            <br/>
            <b>I confirm to the best of my knowledge that the information provided in this form by Minor is accuarte and
                complete.</b>
        </div>
        <label>Signature:</label>
        <div class='js-signature' data-line-color="#000000"
             data-line-width="3" data-width="600" data-height="200"
             data-background="#FFFFFF"
             data-auto-fit="true"></div>
        <br/>
        <div style="display: none">
            <input type="textarea" id="imageData" name="imageData">
        </div>
        <input id="signatureClear" type="button" class="btn btn-warning btn-sm" value="Clear"/>
        <br/>
        <br/>
        <div class="row">
            <div class="col-sm-3 text-center">
                <b>FACIAL WAXING/TINTS</b>
            </div>
            <div class="col-sm-6 text-center">
                <b>BODY WAXING</b>
            </div>
            <div class="col-sm-3 text-center">
                <b>COMBINATIONS</b>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-6"><label class="checkbox-inline">
                        <input type="checkbox" name="browShaping" value="true">Brow Shaping
                    </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="nose" value="true">Nose
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="lip" value="true">Lip
                        </label>

                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="ears" value="true">Ears
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="chin" value="true">Chin
                        </label>

                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="lashTint" value="true">Lash Tint
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="sideburns" value="true">Sideburns
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="browTint" value="true">Brow Tint
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="fullLeg" value="true">Full Leg
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="bikini" value="true">Bikini
                        </label>
                    </div>
                    <div class="col-sm-3"><label class="checkbox-inline">
                        <input type="checkbox" name="fullBack" value="true">Full Back
                    </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="basicBrazilianMen" value="true">Basic Brazilian (men)
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="halfLeg" value="true">Half Leg
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="modifiedBikini" value="true">Modified Bikini
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="halfBack" value="true">Half Back
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="modifiedBrazilianMen" value="true">Modified Brazilian (men)
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="fullArm" value="true">Full Arm
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="brazilianBikini" value="true">Brazilian Bikini
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="chest" value="true">Chest
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="fullBrazilianMen" value="true">Full Brazilian (men)
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="halfArm" value="true">Half Arm
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="buttocks" value="true">Buttocks
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="abdomen" value="true">Abdomen
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="other" value="true">Other
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="underArm" value="true">Under Arm
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="innerBackSide" value="true">Inner Backside
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="neck" value="true">Neck
                        </label>
                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="browShapingLip" value="true">Brow Shaping & Lip
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="MenMasculineTailoring" value="true">Men's Masculine Tailoring
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="fullLegBikini" value="true">Full Leg & Bikini
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="menMaintenanceBrow" value="true">Men's Maintenance Brow
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="lashBrowTint" value="true">Lash Brow & Tint
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="MenFacialGroomingCombo" value="true">Men's Facial Grooming
                            Combo
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="fullFace" value="true">Full Face (no brows)
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="tweenBrowShaping" value="true">Tween Brow Shaping
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <input type="submit" value="submit" class=" btn btn-info btn-lg"/>
        </div>
    </form>
    <br/><br/>
    <footer id="main-footer">
        <div id="footer-bottom">
            <div class=" container maincolor dark col-sm-12 text-center">
                <p id="footer-info">Designed & Powered by <span style="color: #ee7421">Clark Empire</span></p>
            </div>
        </div>
    </footer>
</div>
</body>
</html>